---
layout: base.njk
title: Resume of Dr. Stefan Dillinger
keywords: resume, cv, about, personal, profile, portfolio, stefan dillinger
description: This is the personal website of Dr. Stefan Dillinger.
---
{# This Content will be rendered inside the `src/_includes/partials/_about.njk` file. #}
<p class="mb-4">I am a PhD-trained scientist with a strong background in Epigenetics and nearly a decade of experience bridging the gap between life science research and strategic communication. After earning my PhD from the University of Regensburg in 2016, I joined Active Motif, where I currently serve as a Scientific Consultant and Podcast Host within the Marketing Department.</p>
<p class="mb-4">At Active Motif, I work at the intersection of science and communication — translating complex epigenetics topics for a broad audience. I initiated and produce <a href="https://activemotif.com/podcasts" class="font-bold">The Epigenetics Podcasts</a>, a podcast that features Key Opinion Leaders in the field of Epigenetics and highlights cutting-edge research. In addition to content development, I work extensively with Salesforce.com to manage customer engagement, including quote generation, case handling, dashboard reporting, and content marekting campaigns.</p>
<p class="mb-4">Driven by curiosity and a focus on optimization, I apply AI tools to enhance efficiency and clarity in both professional and personal projects. In my current role, I’ve used AI-assisted Python scripting to automate routine processes and improve team workflows. One example is a sales data analysis tool I developed for Key Account Managers, which presents performance KPIs in a clear, browser-based dashboard—supporting better strategic decisions.</p>
<p class="mb-4">As a seven-time major marathon finisher (including New York, Berlin, and London), I bring proven endurance and goal-oriented persistence to complex, long-term professional challenges. This same dedication drives my side projects, including a Python App I built to catalog and hopefully bag all peaks in the Bavarian Forest. This project combines data visualization and Python scripting with my passion for trail running and is now integrated into my personal <a href="https://raincastle.blog/peaks_project/" class="font-bold">running website</a>, demonstrating my ability to merge technical skills with personal interests to create innovative solutions.</p>