<section class="mb-14">
  <h3 class="font-header font-semibold text-xl uppercase mb-6">Latest Content</h3>
  <div class="space-y-6">
    {% for item in rssLatest %}
      <article class="px-6">
        <h4 class="font-bold">
          <a href="{{ item.link }}" class="link" target="_blank" rel="noopener noreferrer nofollow">
            {{ item.title }}
          </a>
        </h4>
        <time class="block text-sm text-husky-500 dark:text-husky-400">
          {{ item.date | date("dd LLL yyyy") }}
        </time>
        <p class="text-sm mt-1">
          {{ item.content | excerpt }}
        </p>
        <span class="text-xs text-husky-500 italic">
          {{ item.source }}
        </span>
      </article>
    {% endfor %}
  </div>
</section>
