<footer class="highlight mt-16 pt-8 pb-8 text-xs text-center">
  <p class="px-4">
    <strong>&copy; 2025- {% year %}</strong> | Built by <strong>{{ author.name }}</strong> with <a href="https://11ty.dev"><img
    src="/assets/images/eleventy-brands-solid-full.svg"
    alt="Eleventy"
    class="h-4 ml-1 w-auto inline-block align-text-bottom text-white"
    loading="lazy"
  /></a>
  </divp>
</footer>